* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
}

header {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem;
  position: fixed;
  z-index: 1100100;
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: blue;
  text-decoration: underline;
}

a:focus {
  color: green;
  text-decoration: underline;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

p {
  cursor: pointer;
}

li {
  background-color: green;
}

li:first-child {
  background: blue;
}

li:last-child {
  background: pink;
}

li:nth-child(5) {
  background: gray;
}

li:nth-child(even) {
  background: yellow;
}

li:nth-child(3n) {
  background: red;
}

li:nth-child(4n + 2) {
  background: purple;
}

#hero-banner {
  height: 50vh;
  background: url("https://source.unsplash.com/1600x900/?sea") no-repeat fixed
    center center/ cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#hero-banner::after {
  content: "";
  background-color: rgb(136, 36, 36);
  height: 100%;
  width: 100%;
  position: absolute;
}

#hero-banner h3 {
  z-index: 1;
  color: white;
}

#hero-banner h3::first-letter {
  z-index: 1;
  color: gold;
  font-size: 5rem;
}

#boxes {
  background-color: blue;
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  background: green;
  margin: 1rem;
}
.box:nth-child(3) {
  position: absolute;
  right: 0px;
}
.box:nth-child(6) {
  position: sticky;
  top: 500px;
}
